@import 'tailwindcss';

:root {
  --primary-orange: #f25822;
  --primary-orange-light: #febd20;
  --primary-black: #3a3331;
  --primary-gray-light: #e4e4e4;

  --font-roboto-flex: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}
h1 {
  font-size: 20px;
  color: var(--primary-black);
  padding-right: 1rem;
  padding-left: 1rem;
}
h2 {
  font-size: 16px;
  color: var(--primary-black);
  margin-bottom: 0.6rem;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, #e8ecee, #d2d2d2);
  color: var(--primary-black);
  min-height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  margin: 1rem auto;
  margin-top: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  border: 1.5px solid var(--primary-orange-light);
}
label {
  font-size: 12px;
  color: var(--primary-black);
  margin-bottom: 0.4rem;
}
input {
  padding: 0.6rem;
  border: 1.5px solid var(--primary-orange-light);
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
button {
  padding: 0.6rem;
  background-color: var(--primary-orange-light);
  color: var(--primary-black);
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 1rem;
  font-family: var(--font-roboto-flex);
  width: 10rem;
}
.logo {
  width: 30px;
  height: auto;
  margin: 0.6rem;
}

.hamburger {
  width: 30px;
  height: 41px;
  margin: 0.6rem;
  color: var(--primary-orange);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navAvatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
  height: 60px;
  font-size: 12px;
  padding: 0.6rem;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 0.6rem;
}
.icon {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
  color: var(--primary-orange-light);
}
.form-header {
  display: flex;
  flex-direction: row;
  padding-top: 0.6rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px dashed var(--primary-gray-light);
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.progresion-number {
  border: 1.5px solid var(--primary-orange-light);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--primary-gray-light)
}
.active-progresion-number {
  background-color: var(--primary-orange-light);
  color: var(--primary-black);
}
.line {
  width: 30px;
  height: 1.5px;
  background-color: var(--primary-gray-light);
  margin: 0.6rem;
}
