@import 'tailwindcss';

:root {
  --primary-orange: #f25822;
  --primary-orange-light: #febd20;
  --primary-black: #3a3331;
  --primary-gray-light: #e4e4e4;
  --primary-beige-light: #f5f0e8;
  --primary-mid-gray: #6d6d6d;
  --dark-blue: #7291a4;

  --font-roboto-flex: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-italiana: 'Italiana', serif;
}
h1 {
  font-size: 16px;
  color: var(--primary-mid-gray);
  padding-right: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
h2 {
  font-size: 38px;
  font-family: var(--font-italiana);

  margin-bottom: 0.6rem;
}
h3,
label {
  font-size: 18px;
  color: var(--primary-black);
  margin-bottom: 0.4rem;
}

.body-text {
  font-size: 14px;
  color: var(--primary-mid-gray);
  margin-bottom: 0.4rem;
  padding-bottom: 0.6rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  background: linear-gradient(to bottom right, #fcfeff 0%, #c5d6e1 100%);
  color: var(--primary-black);
  min-height: 100vh;
}
.open-card,
form,
.generator-container,
.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 0.4rem;
  border: 1px solid var(--primary-gray-light);
  background: linear-gradient(to top, #f0f9fe, #fff 70%);
}

.generator-container {
  background: linear-gradient(to bottom, #fff 50%, #fee39f);
  padding: 0.6rem;
}
.background-container {
  padding: 0.6rem;
}
.open-card {
  margin-top: -2rem;
  padding: 0.6rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 0px 0px 30px 30px;
  border-top: none;
  border-bottom: none;
  background: linear-gradient(to bottom, #fff 50%, #fee39f);
}
.border-active {
  border: 1px solid var(--primary-orange-light);
}

input {
  padding: 0.6rem;
  border: 1.5px solid var(--primary-orange-light);
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  background-color: white;
}

button {
  padding: 0.8rem;
  background-color: #fde5aa;
  color: var(--primary-black);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 1rem;
  font-family: var(--font-roboto-flex);
  width: 10rem;
}
.small-button {
  padding: 0.3rem;
  font-size: 14px;
  width: fit-content;
  border: var(--primary-orange-light) 1.5px solid;
  border-radius: 25px;
  margin-top: -0.6rem;
  margin-bottom: 0.3rem;
  background-color: #fee39f;
  
}

.card-button,
.form-button {
  display: flex;
  padding: 0.8rem;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.3);
  background-color: #fff;
  border-radius: 25px;
  font-size: 18px;
  margin-bottom: 0.3rem;
  border: 1px solid var(--primary-gray-light);
  transition:
    transform 0.6s ease,
    box-shadow 0.3s ease;
  transition-duration: 400ms;
}
.card-button:hover,
.form-button:hover {
  background-color: linear-gradient(to left, #fff, #dbf0fd);
  background: linear-gradient(
    to right,
    #fff 50%,
    #fee39f
  ); /* your hover color */
}
.card-button:active,
.form-button:active {
  background-color: linear-gradient(
    to top,
    #fff,
    #dbf0fd
  ); /* darker color when pressed */
  transform: scale(0.93);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #fff 50%, #fee39f);

  /* optional: click feedback */
}

.card-end-button {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--primary-orange-light);
  border-radius: 8px;
}
.card-button {
  margin: 0;
}
.dashed-card,
.button-big {
  width: 100%;
  margin: 0rem;
  margin-bottom: 0.6rem;
}
.dashed-card {
  border-radius: 8px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.06),
    0 4px 12px rgba(0, 0, 0, 0.08);
}
.file-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem;
  color: var(--primary-mid-gray);
  background-color: white;
  border-radius: 8px;
  margin-bottom: 0.2rem;
}
li {
  border-bottom: 1px solid var(--primary-gray-light);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
li a {
  text-decoration: none;
  color: var(--primary-black);
  font-size: 20px;
  padding-left: 0.6rem;
}

li a:hover {
  color: var(--primary-orange-light);
  transition: color 0.3s ease;
}

.last-li {
  border-bottom: none;
}

.logo {
  width: 50px;
  height: auto;
  margin: 0.3rem;
}

.menu-items.closed {
  display: none;
}

.menu-items.open {
  display: block;
  border-bottom: 1px solid var(--primary-gray-light);
  z-index: 1000;
  position: absolute;
  background-color: white;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  right: 0;
  border-radius: 8px;
}
.hamburger {
  width: 40px;
  height: 41px;
  margin: 0.6rem;
  color: var(--primary-orange);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.navAvatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to right, #fff 50%, #fee39f);
  height: 50px;
  font-size: 14px;
  padding: 0.6rem;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 0.6rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.button-icon,
.icon {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--primary-orange-light);
}
.button-icon {
  margin-left: 0.6rem;
}

.material-symbols-outlined {
  font-size: 26px;
  vertical-align: middle;
  color: var(--primary-mid-gray);
  margin-right: 8px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.material-symbols-outlined.big {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
  font-size: 28px;
  margin-left: 0.6rem;
}
.material-symbols-outlined.tin {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 0;
  font-size: 18px;
  color: #858788;
  margin-left: 0.3rem;
}
.form-data-to-read,
.form-data-to-read-only {
  border-bottom: 1px dashed var(--primary-gray-light);
  margin-left: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-mid-gray);
  font-weight: 300;
}
.form-data-to-read {
  margin-bottom: 0rem;
  padding-top: 0rem;
}

.form-header-with-button,
.form-header,
.form-header-gray {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 0.6rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--primary-gray-light);
}

.form-header-gray {
  font-weight: 500;
  background-color: var(--primary-beige-light);
  margin-bottom: 1rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-left: 0rem;
  border-bottom: 0px;
}
.form-hearer-with-button{
  padding-top: 0rem;
  margin-top: 0rem;
  

}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.progresion-number {
  border: 1.5px solid var(--primary-orange-light);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--primary-gray-light);
  background-color: white;
}
.active-progresion-number {
  background-color: var(--primary-orange-light);
  color: var(--primary-black);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.dashed-line {
  border-bottom: var(--primary-gray-light) 1px dashed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.6rem;
}
.line {
  width: 30px;
  height: 1.5px;
  background-color: var(--primary-gray-light);
  margin: 0.6rem;
}
.background-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.6rem;
}

.generator-localisation {
  font-size: 14px;
  color: var(--primary-mid-gray);
  margin-right: 0.5rem;
}
.fuel-bar {
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, #febd20, #f25822);
  border-radius: 10px;
}
.generator-inf-box {
  background: linear-gradient(to top, #fff, #f0f9fe);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}
.box-text {
  padding: 0.6rem;
  font-size: 14px;
  font-weight: 400;
}

.box-insert {
  padding: 0.6rem;
  padding-top: 0px;
  font-size: 16px;
  color: var(--dark-blue);
}
.gen-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.date-box {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0rem;
  border: var(--primary-gray-light) 1px solid;
  padding: 0.6rem;
  border-radius: 25px;
  background-color: white;
  width: fit-content;
}
